:root{
  --primary-color: rgb(255, 87, 51);
  --primary-color-opacity: rgba(255, 88, 51, 0.102);
  --primary-color-half-opacity: rgba(255, 88, 51, 0.5);
  --light-gray-color: #E5E5E5;
  --dark-gray-color: #8E8E8E;
}
.event {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  padding: 0 4px;
  display: flex;
  align-items:center;
  border-radius: 6px;
  background: var(--primary-color-half-opacity);
  color:black;
  font-size: 12px;
}
.done {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  padding: 0 4px;
  display: flex;
  align-items:center;
  border-radius: 6px;
  background: var(--primary-color-half-opacity);
  color:black;
  font-size: 12px;
  opacity: 0.3;
}
.eventText {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.time {
  height: 14px;
  line-height: 14px;
  margin-left: 3px;
  margin-right: 3px;
}
