:root{
  --primary-color: rgb(255, 87, 51);
  --primary-color-opacity: rgba(255, 88, 51, 0.102);
  --primary-color-half-opacity: rgba(255, 88, 51, 0.5);
  --light-gray-color: #E5E5E5;
  --dark-gray-color: #8E8E8E;
}
li {
  list-style: none;
  display: flex;
  margin: 5px 0;
  padding: 7px;
  color: black;
  background: var(--primary-color-half-opacity);
  font-size: 18px;
  border-radius: 6px;
}
.title {
  font-size: 18px;
}
.content {
  font-size: 14px;
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.done {
  opacity: 0.3;
}